In [5]:
import streamlit as st
import sqlite3
import pandas as pd


# Connect to the SQLite database
conn = sqlite3.connect('nycprocurement.db')

# Function to get the first 5 rows from the table
def get_first_five_rows():
    query = """
    SELECT *
    FROM newtable
    LIMIT 5
    """
    df = pd.read_sql_query(query, conn)
    return df

# Get the first 5 rows
first_five_rows = get_first_five_rows()

# Display the first 5 rows
display(first_five_rows)

,PlanID,Agency,Services Descrption,Start Date,End Date,Procurement Method,Fiscal Quarter,Job Titles,Head-count
0,FY25NCFB1,CFB,Agencywide Product Management Consulting and T...,1722484800000,1817006400000,Negotiated Acquisition,1,None,0
1,FY25NCFB2,CFB,Agencywide Product Management Consulting and T...,1722484800000,1785470400000,MWBE Noncompetitive Small Purchase,1,None,0
2,FY25NCFB3,CFB,Polling and Research For Public Affairs divisi...,1733029200000,1796014800000,MWBE Noncompetitive Small Purchase,2,None,0
3,FY25NCFB4,CFB,Video Production and Explainers who create vid...,1719806400000,1782792000000,MWBE Noncompetitive Small Purchase,1,None,0
4,FY25NCFB5,CFB,Influencers and Digital marketing where Public...,1727755200000,1790740800000,MWBE Noncompetitive Small Purchase,2,None,0

In [6]:
# Streamlit app
st.title("NYC Procurement Database - First 5 Rows")

# Get and display the first 5 rows
first_five_rows = get_first_five_rows()

if not first_five_rows.empty:
    st.dataframe(first_five_rows)
else:
    st.write("No data found in the table.")

# Display the column names
st.subheader("Column Names:")
st.write(", ".join(first_five_rows.columns))

# Close the database connection
conn.close()

2024-10-29 14:23:35.257 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.260 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.280 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.282 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.283 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.283 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.284 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.285 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.286 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 14:23:35.287 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.